.transaction-card-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: transaction-list;
    justify-content: center;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.transaction-card-list::-webkit-scrollbar {
    width: 1em;
}

.transaction-card-list::-webkit-scrollbar-track {
    border-radius: 24px;
    box-shadow: none;
}

.transaction-card-list::-webkit-scrollbar-thumb {
    background: #1D976C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D976C, #93F9B9, #1D976C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D976C, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 24px;
    outline: 1px solid slategrey;
}

.transaction-card-list li {
    padding: 8px;
}

@media (min-width: 768px) {
    .transaction-card-list {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .transaction-card-list {
        justify-content: center;
    }
}
