.add-transaction-form {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: add-transaction-form;
    justify-content: space-between;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.field {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    padding: 4px 0;
    font-weight: bold;
    width: 100%;
}

.field span {
    text-align: left;
}

.form-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
}

input, datalist, select, button {
    background-color: #e3f9ff;
    border-color: transparent;
    border-radius: 24px;
    margin: 0;
    padding: 8px 0;
    width: 220px;
    text-align: center;
}

button[type=submit] {
    background-color: #0090ce;
    color: white;
    font-weight: bold;
    font-size: 120%;
}

@media (min-width: 768px) {
    .transaction-card-list {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .transaction-card-list {
        justify-content: center;
    }
}
