header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 8px;
}

header > .clock {
    align-items: center;
    display: flex;
}

header > .clock > * {
    margin-left: 8px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        flex-direction: row;
    }
}
