.transaction-card {
    align-items: center;
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 24px;
    display: grid;
    font-size: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "header"
    "body"
    "body"
    "footer";
    height: 160px;
    width: 200px;
}

.transaction-card-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: center;
}

.transaction-card-header .title {
    margin: 8px;
}

.transaction-card-header .subtitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.transaction-card-header .subtitle h3{
    margin: 8px;
}

.transaction-card-header .subtitle .separator {
    display: block;
    height: 24px;
    width: 24px;
}

.transaction-card-header .subtitle .separator:after {
    content: "-";
    font-weight: bolder;
    font-size: 24px;
    line-height: 24px;
}

.transaction-card-body {
    grid-area: body;
}

.transaction-card-footer {
    grid-area: footer;
    margin: 8px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .transaction-card {
        height: 240px;
        width: 240px;
    }

    .transaction-card-header .title {
        margin: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .transaction-card {
        height: 240px;
        width: 240px;
    }
}
